html 
    body{
    font-size: 26px;
    font-style: italic;    
    font-family: sans-serif;
    background-color:#130e43;
    color:whitesmoke;
    text-align:center;
    margin:40px;
    }
    .container{
    max-width:1000px;
    margin:auto;
    padding:40px;
    text-align:center;
    }

    h1{
    color:#38bbf4;
    }

    h2{
    color:#35e475;
    margin-top:40px;
    }

    ul{
    list-style:none;
    padding:0;
    }

    li{
    margin:10px 0;
    }

    p{
    font-size:24px;
    }

    hr{
    margin:40px 0;
    }

    /* a{
    color:#38bdf8;
    text-decoration:none;
    font-weight:bold;
    }

    a:hover{
    color:#22c55e;
    } */

    .project{
    background:#1e293b;
    padding:20px;
    margin:20px 0;
    border-radius:20px;
    }